<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title col-8">{{title}}</h4>
        <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="justify-content: end;">
                {% for item in breadcrumbs %}
                <li class="breadcrumb-item {% if item.activate %} activate fw-bold{% endif %}">
                    <a {% if item.url %}href="{%url item.url %}"{% endif %}>{{item.title}}</a>
                </li>
                {% endfor %}
            </ol>
            </nav>
        </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->