<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="pt_BR">
	<head>
			<meta charset="utf-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<!-- Tell the browser to be responsive to screen width -->
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta
				name="keywords"
				content="gestão, cálculos, jurídicos, trabalhistas, G-Calc, sistema, software, jurídico"
			/>
			<meta
				name="description"
				content="Sistema de Gerenciamento de Cálculos Jurídicos Trabalhistas - G-Calc"
			/>
			<meta name="robots" content="noindex,nofollow" />
			<title>G-Calc</title>
			<!-- Favicon icon -->
			<link
				rel="icon"
				type="image/png"
				sizes="16x16"
				href="{% static 'assets/images/favicon.png' %}"
			/>
			<!-- Custom CSS -->
			<link href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
			<link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet" />
			<link href="{% static 'assets/libs/jquery-ui-1.13.3.custom/jquery-ui.min.css' %}" rel="stylesheet" />
			<link href="{% static 'assets/libs/toastr/build/toastr.min.css' %}" rel="stylesheet">
			<link href="{% static 'assets/libs/jquery-steps/jquery.steps.css' %}" rel="stylesheet"/>
			<link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet" />
			<link href="{% static 'dist/css/jquery-ui.css' %}" rel="stylesheet">

			{% block css %}{% endblock %}

	</head>

	<body>
			<!-- ============================================================== -->
			<!-- Preloader - style you can find in spinners.css -->
			<!-- ============================================================== -->
			<div class="preloader">
				<div class="lds-ripple">
						<div class="lds-pos"></div>
						<div class="lds-pos"></div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Main wrapper - style you can find in pages.scss -->
			<!-- ============================================================== -->
			<div
				id="main-wrapper"
				data-layout="vertical"
				data-navbarbg="skin5"
				data-sidebartype="full"
				data-sidebar-position="absolute"
				data-header-position="absolute"
				data-boxed-layout="full"
			>
					{% include 'base/header.html' %}
					
					{% include 'base/side_bar.html' %}

					<!-- ============================================================== -->
					<!-- Page wrapper  -->
					<!-- ============================================================== -->
					<div class="page-wrapper">
						{% include 'base/breadcrumbs.html' %}
						{% block container %}{% endblock%}
						{% include 'base/footer.html' %}
					</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Wrapper -->
			<!-- ============================================================== -->
			<div class="modal fade" id="Modal" tabindex="-1" aria-hidden="true" style="display:none">
			<!--	
				<div class="modal-dialog modal-sm modal-dialog-centered">
					<div id="modal-content-sm" class="modal-content">
						
					</div>
				</div>
			-->
			</div>

			<div class="modal fade" id="Modal1" tabindex="-1" aria-hidden="true" style="display:none">
			<!--	
				<div class="modal-dialog modal-sm modal-dialog-centered">
					<div id="modal-content-sm" class="modal-content">
						
					</div>
				</div>
			-->
			</div>

			
	</body>
	{% include 'base/scripts.html' %}
	<script src='{% static "assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js" %}'></script>
	<script src="{% static 'assets/libs/jquery-steps/build/jquery.steps.min.js' %}"></script>
	<script src="{% static 'assets/libs/jquery-validation/dist/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/libs/jquery-validation/dist/localization/messages_pt_BR.js' %}"></script>
	<script src='{% static "assets/libs/jquery-ui-1.13.3.custom/jquery-ui.min.js" %}'></script>
	<script src='{% static "assets/libs/jquery-ui-1.13.3.custom/locale.js" %}'></script>
    <script src='{% static "assets/libs/select2/dist/js/select2.full.min.js" %}'></script>
    <script src='{% static "assets/libs/select2/dist/js/select2.min.js" %}'></script>
	<script src='{% static "assets/libs/select2/dist/js/i18n/pt-BR.js" %}'></script>
	<script src="{% static 'assets/libs/toastr/toastr.js' %}"></script>
	<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
	<script src="{% static 'assets/extra-libs/DataTables/custom.js' %}"></script>
    
	<script>
		$('#form').validate({
			submitHandler: function(form) {
				$(".preloader").fadeIn()
				form.submit(); // Se o formulário for válido, ele será enviado
			}
		});
		function open(url){
			let isOpen = $("#Modal")[0].classList.contains('show')
			if(isOpen){
				$("#Modal").modal('hide')
				$("#Modal").html('')
			}
			$.ajax({
				url: url,
				type:'get',
				success: function(retorno){
					$("#Modal").html(retorno)
					$("#Modal").modal('show')
				}
			})
		}

		function open1(url){
			let isOpen = $("#Modal")[0].classList.contains('show')
			if(isOpen){
				$("#Modal").modal('hide')
			}
			$.ajax({
				url: url,
				type:'get',
				success: function(retorno){
					$("#Modal1").html(retorno)
					$("#Modal1").modal('show')
				}
			})
		}

		function salvar_modal(url_form_modal1, url_lista_modal){
			let form = $("#form_modal")[0]
			$("#Modal1").modal('hide')
			$("#Modal1").html('')
			$.ajax({
				url: url_form_modal1,
				data: $(form).serialize(),
				type: 'post',
				success: function(retorno){
					open(url_lista_modal)
					if(retorno['result']=='success'){
						toastr.success(retorno['message'], 'Sucesso!');
					}else{
						toastr.error(retorno['message'], 'Erro!');
					}
				},
				error: function(xhr, status, error){
					toastr.error(error, 'Erro!');
				}
			})
		}

	</script>
	{% if messages %}
		<script>
			{% for message in messages %}
				var MS = {% if message.tags == 'success' %}`{{ message|safe }}` {% else %}''{% endif %}
				var ME = {% if message.tags == 'error' %}`{{ message|safe }}` {% else %}''{% endif %}
				var MI = {% if message.tags == 'info' %}`{{ message|safe }}` {% else %}''{% endif %}
			{% endfor %}
			$(function(){
					if(MS){toastr.success(MS, 'Sucesso!')};
					if(ME){toastr.error(ME, 'Error!')};
					if(MI){toastr.info(MI, 'Informação')};
			})
		</script>
	{% endif %}
	{% block js %}{% endblock %}
</html>