<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav" class="pt-4">
				{% for item in request.menu %}
					<li class="sidebar-item">
						<a
							{% if item.url %}
								class="sidebar-link waves-effect waves-dark sidebar-link"
								href="{{item.url}}"
							{% else %}
								class="sidebar-link has-arrow waves-effect waves-dark"
								href="javascript:void(0)"
							{% endif %}
							aria-expanded="false"
						>
							<i class="{{item.icon}}"></i>
							<span class="hide-menu">{{item.title}} </span>
						</a>
						{% if item.submenu %}
							<ul aria-expanded="false" class="collapse first-level">
								{% for item in item.submenu %}
									<li class="sidebar-item" style="padding-left: 20px;">
										<a
											{% if item.url %}
												class="sidebar-link waves-effect waves-dark sidebar-link"
												href="{{item.url}}"
											{% else %}
												class="sidebar-link has-arrow waves-effect waves-dark"
												href="javascript:void(0)"
											{% endif %}
											aria-expanded="false"
										>
											<i class="{{item.icon}}"></i>
											<span class="hide-menu">{{item.title}} </span>
										</a>
										{% if item.submenu %}
											<ul aria-expanded="false" class="collapse first-level">
												{% for item in item.submenu %}
													<li class="sidebar-item" style="padding-left: 20px;">
														<a
															class="sidebar-link"
															{% if item.url %}href="{{item.url}}"{% endif %}
															aria-expanded="false"
														>
															<i class="{{item.icon}}"></i>
															<span class="hide-menu">{{item.title}} </span>
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->