{% load static %}
<div class="modal-dialog modal-xl modal-dialog-centered">
	<div id="modal-content-md" class="modal-content">
		<form id="form" class="form-horizontal wizard" action="{{ url_form }}" method="post">
			{% csrf_token %}
			<div class="modal-header">
				{% if form.instance.id %}
					<input type="hidden" name="pk" value="{{form.instance.id}}">
				{% endif %}
				<div>
					<h5 class="modal-title">{{card_title}}</h5>
					<small>{{subtitle}}</small>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- ============================================================== -->
				<!-- Container fluid  -->
				<!-- ============================================================== -->

					<!-- ============================================================== -->
					<!-- Start Page Content -->
					<!-- ============================================================== -->
					<div class="card border mt-3">
						<div class="card-header">
							<h5>Filtros</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="form-group col-md-6 col-lg-3" >
									<label for="cliente" >Cliente:</label>
									<select name="cliente" id="cliente" onchange="carregar_tp(this)"
										class="select form-control" style="width: 100%">
										<option value="">-----</option>
										{% for item in clientes %}
											<option value="{{item.0}}" 
												{% if processo_id|safe == item.0|safe %}selected{%endif%}>{{item.1}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group col-md-6 col-lg-3" >
									<label for="tipo_servico" >Tipo de Serviço:</label>
									<select name="tipo_servico" id="tipo_servico" onchange="carregar_rs(this)" 
										class="select form-control" style="width: 100%">
										<option value="">-----</option>
										{% for item in servicos %}
											<option value="{{item.0}}" 
												{% if processo_id|safe == item.0|safe %}selected{%endif%}>{{item.1}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group col-md-6 col-lg-3" >
									<label for="responsavel" >Responsável:</label>
									<select name="responsavel" id="responsavel" class="select form-control" style="width: 100%">
										<option value="">-----</option>
									</select>
								</div>
								<div class="form-group col-md-6 col-lg-3" >
									<label for="status" >Status:</label>
									<select name="status" id="status" class="select form-control" style="width: 100%">
										<option value="">-----</option>
										{% for item in status %}
											<option value="{{item.0}}" 
												{% if processo_id|safe == item.0|safe %}selected{%endif%}>{{item.1}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6 col-lg-3">
									<label>Intervalo de Datas de Cadastro</label>
									<div class="d-flex">
										<input name='dt_cadastro_inicio' type="text" class="form-control datepicker date-inputmask" 
											id="dt_cadastro_inicio" placeholder="Inicio">
										<input name='dt_cadastro_fim' type="text" class="form-control datepicker date-inputmask" 
											id="dt_cadastro_fim" placeholder="Fim">
									</div>
								</div>
								<div class="form-group col-md-6 col-lg-3">
									<label>Intervalo de Datas de Conclusão</label>
									<div class="d-flex">
										<input name='dt_conclusao_inicio' type="text" class="form-control datepicker date-inputmask" 
											id="dt_conclusao_inicio" placeholder="Inicio">
										<input name='dt_conclusao_fim' type="text" class="form-control datepicker date-inputmask" 
											id="dt_conclusao_fim" placeholder="Fim">
									</div>
								</div>
								
								<div class="col-12 form-group">
									<button id="filtro" value="filtrar" onclick="filtrar()" type="button" class="btn btn-primary mt-4"><i class="mdi mdi-filter"></i>Filtrar</button>
									<button id="exportar" value="exportar" type="button" class="btn btn-success mt-4"><i class="mdi mdi-file-excel-box"></i>Exportar</button>
								</div>
							</div>
						</div>
					</div>

					<div class="card border">
						<div class="card-header">
							<h5>Serviços</h5>
						</div>
						<div class="card-body">

							<div class="table-responsive">
								<table id="listagem_servicos_fatura" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" id="all" checked></td></th>
											<th>Cliente</th>
											<th>Tipo de Serviço</th>
											<th>Processo</th>
											<th>Responsável</th>
											<th>Status</th>
											<th>Cadastro</th>
											<th>Prazo</th>
											<th>Conclusão</th>
										</tr>
									</thead>
									<tbody id="body_fatura">
										{% for item in servicos %}
											<tr>
												<td class="py-1 align-middle" ><input class="checkbox_servico" type="checkbox" id="servicos" value={{item.id}} checked></td>
												<td class="py-1 align-middle" title="{{ item.cliente }}">{{ item.cliente }}</td>
												<td class="py-1 align-middle">{{ item.tipo_servico }}</td>
												<td class="py-1 align-middle" title="{{ item.processo }}">{{ item.processo }}</td>
												<td class="py-1 align-middle" title="{{ item.responsavel.nome_completo }}">{{ item.responsavel.nome_completo|default_if_none:'' }}</td>
												<td class="py-1 align-middle" title="{{ item.status }}">{{ item.status|default_if_none:'' }}</td>
												<td class="py-1 align-middle" title="{{ item.dt_cadastro }}">{{ item.dt_cadastro|date:'d/m/Y' }}</td>
												<td class="py-1 align-middle" title="{{ item.dt_prazo }}">{{ item.dt_prazo|date:'d/m/Y' }}</td>
												<td class="py-1 align-middle" title="{{ item.dt_conclusao }}">{{ item.dt_conclusao|date:'d/m/Y' }}</td>
											</th>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>


				<!-- ============================================================== -->
				<!-- End Page Content -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				<button type="button" onclick="" class="btn btn-primary">
					Salvar
				</button>
			</div>
		</form>
	</div>
</div>
<script>
	var URL_TP = '{% url "listagem_tipo_servicos_cliente_select" %}';
	var URL_RS = '{% url "listagem_responsaveis_tipo_servicos_select" %}';
	var URL_FILTRO = '{% url "listagem_filtro_servicos_json" %}'
	$("#listagem_servicos_fatura").DataTable({
		'language': CUSTOM_DATATABLE
	});
</script>
<script src="{% static 'admin/js/servicos/form.js' %}"></script>
