{% load static %}
{% load functions %}
<div class="modal-dialog modal-md modal-dialog-centered">
	<div id="modal-content-md" class="modal-content">
		<form id="form_modal" class="form-horizontal wizard">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{object.id}}">
			<div class="modal-header">
				<h5 class="modal-title">{{title}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body py-0">
				<!-- ============================================================== -->
				<!-- Container fluid  -->
				<!-- ============================================================== -->
				<div class="container-fluid">
					<!-- ============================================================== -->
					<!-- Start Page Content -->
					<!-- ============================================================== -->
					<div class="card">
						<div class="form-group mt-3">
							<h3>Você tem certeza que deseja deletar o tipo de serviço <strong>{{ object.descricao }}</strong>?</h3>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End Page Content -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->

			<div class="modal-footer">
				<button type="button" class="btn btn-info" 
					data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Modal" aria-label="Close">
					Não
				</button>
				<button type="submit" class="btn btn-danger" onclick="salvar_del_tipo_servico('{{object.cliente.id}}')">
					Sim
				</button>
			</div>
		</form>
	</div>
</div>