<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
{% load static %}
<footer class="text-center">
    <span class="logo-text">
        <!-- dark Logo text -->
        <img
        src={% static "assets/images/logo.png"%}
        class="light-logo"
        width="140"
        />
    </span><br>
    <span class="small" style="color: #92a0b4;">by PABJ Solutions</span>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->