<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
{% load static %}
<footer class="footer text-center">
    <span class="logo-text ms-2">
        <!-- dark Logo text -->
        <img
        src={% static "assets/images/logo-rodape.png"%}
        alt="homepage"
        class="light-logo"
        width="130"
        />
    </span><br>
    <span class="small">by PABJ Solutions</span>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->