{% load static %}
<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<a class="navbar-brand" href="index.html">
  <!-- Logo icon -->
    <b class="logo-icon">
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img
          src={% static "assets/images/logo-icon.png" %}
          alt="homepage"
          class="light-logo"
          width="40"
        />
    </b>
  <!--End Logo icon -->
  <!-- Logo text -->
    <span class="logo-text ms-2">
        <!-- dark Logo text -->
        <img
        src={% static "assets/images/logo-text.png"%}
        alt="homepage"
        class="light-logo"
        width="120"
        />
    </span>
  <!-- Logo icon -->
  <!-- <b class="logo-icon"> -->
  <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
  <!-- Dark Logo icon -->
  <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

  <!-- </b> -->
  <!--End Logo icon -->
</a>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->