{% load static %}
<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<a class="navbar-brand" href="{% url 'home' %}" style="display: grid;">
  <!-- Logo icon -->
    <b class="logo-icon">
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img
          src="{% url 'servir_imagem_logo' nome_arquivo='logo-icon.png' %}"
          alt="homepage"
          class="light-logo"
          width="80"
        />
    </b>
  <!--End Logo icon -->
  <!-- Logo text -->
    <span class="logo-text ms-2">
        <!-- dark Logo text -->
        <img
        src="{% url 'servir_imagem_logo' nome_arquivo='logo-text.png' %}"
        class="light-logo"
        width="180"
        />
    </span>
  <!-- Logo icon -->
  <!-- <b class="logo-icon"> -->
  <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
  <!-- Dark Logo icon -->
  <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

  <!-- </b> -->
  <!--End Logo icon -->
</a>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->