{% extends "genericos/listagem_simples.html" %}
{% load static %}
{% block thead %}
	<tr>
		<th>Tipo de Serviço</th>
		<th>Valor</th>
		<th></th>
	</tr>
{% endblock %}

{% block tbody %}
	{% for item in object_list %}
		<tr>
			<td class="py-1 align-middle">{{ item.descricao }}</td>
			<td class="py-1 align-middle real-inputmask" title="{{ item.valor }}">{{ item.valor }}</td>
			<td class="py-1 align-middle justify-content-md-center" style="display: flex;">
				<a type="button" class="btn btn-outline-info px-1 py-0 mx-1"
					href="{% url 'edicao_tipo_servicos' item.id %}"
					data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
					<i class="mdi mdi-lead-pencil" style="font-size: 15px;"></i>
				</a>
				<form id="form-delete" class="form-delete" action="{% url 'delete_tipo_servicos' item.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn btn-outline-danger px-1 py-0 mx-1"
						data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">
						<i class="mdi mdi-delete" style="font-size: 15px;"></i>
					</button>
				</form>
			</td>
		</th>
	{% endfor %}
{% endblock %}

{% block js %}
	<div id="dialogDelete" title="Confirmar Deleção">
		<p>Tem certeza de que deseja Deletar esse Tipo de Serviço?</p>
	</div>
    <!-- this page js -->
	<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
	<script src="{% static 'assets/extra-libs/DataTables/custom.js' %}"></script>
    <script>
		$("#listagem").DataTable({
			'language': CUSTOM_DATATABLE
		});
    </script>
	<script src="{% static 'assets/libs/jquery-ui-1.13.3.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'assets/libs/jquery-ui-1.13.3.custom/locale.js' %}"></script>
	<script src="{% static 'dist/js/dialogs-custom.js' %}"></script>
	<script>
		$(".form-delete").submit(function(event) {
			event.preventDefault(); // Impede o envio imediato
			$("#dialogDelete").dialog("open"); // Abre o diálogo de confirmação
		});
	</script>
{% endblock %}