{% extends "genericos/listagem_simples.html" %}
{% load static %}

{% block cad %}
	{% if processo %}
	<div class="px-3 pb-3" style="font-size: 15px">
		<table class="table table-striped table-bordered">
			<tr>
				<th class="p-1 px-2">Reclamada</th>
				<th class="p-1 px-2">Reclamante</th>
				<th class="p-1 px-2">Ult. Verificação</th>
			</tr>
			<tr>
				<td class="p-1 px-2">{{ processo.reclamada }}</td>
				<td class="p-1 px-2">{{ processo.reclamante }}</td>
				<td class="p-1 px-2">
					<input type="hidden" value='{{ processo.dt_ult_verificacao|date:"d/m/Y" }}'>
					{{ processo.dt_ult_verificacao|date:"d/m/Y" }}
				</td>
			</th>
		</table>
		<form action="{% url 'listagem_andamentos' processo.id %}" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-info"
				data-bs-toggle="tooltip" data-bs-placement="top" title="Atualizar">
				Atualizar<i class="mdi mdi-refresh" style="font-size: 15px;"></i>
			</button>
		</form>
	</div>
	{% endif %}
{% endblock %}

{% block thead %}
	<tr>
		<th class="col-1">Dt. Andamento</th>
		<th class="col-3">Grau</th>
		<th class="col-1">Código</th>
		<th class="col-5">Descricao</th>
	</tr>
{% endblock %}

{% block tbody%}
	{% for item in object_list %}
		<tr>
			<td class="py-1 align-middle">
				<span style="display:none">{{ item.dt_andamento|date:"Ymd" }}</span>
				{{ item.dt_andamento|date:"d/m/Y" }}
			</td>
			<td class="py-1 align-middle" title="{{ item.grau }}">
				<span class="">{{ item.grau }}</span>
			</td>
			<td class="py-1 align-middle">{{ item.codigo }}</td>
			<td class="py-1 align-middle">{{ item.descricao }}</td>
		</th>
	{% endfor %}
{% endblock %}

{% block js %}
	<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
	<script src="{% static 'assets/extra-libs/DataTables/custom.js' %}"></script>
	<script>
	$("#listagem").DataTable({
		'order': [[0, 'desc']],
		'language': CUSTOM_DATATABLE
	});
</script>
{% endblock %}
