{% extends "genericos/listagem_simples.html" %}
{% load static %}

{% block cad %}
	{% if perms.processos.add_processos %}
		<a type="button" class="btn btn-primary p-2"
			onclick="cadastro()" title="Cadastrar novo Serviço">
			<i class="mdi mdi-file-outline" style="font-size: 15px;"></i> Cadastro
		</a>
	{% endif %}
{% endblock %}

{% block thead %}
	<tr>
		<th>Cliente</th>
		<th>Processo</th>
		<th>Tipo de Serviço</th>
		<th>Prazo</th>
		<th>Responsável</th>
		<th>Status</th>
		<th>Ações</th>
	</tr>
{% endblock %}

{% block tbody%}
	{% for item in object_list %}
		<tr>
			<td class="py-1 align-middle" title="{{ item.cliente }}">{{ item.cliente }}</td>
			<td class="py-1 align-middle" title="{{ item.processo }}">{{ item.processo }}</td>
			<td class="py-1 align-middle">{{ item.tipo_servico }}</td>
			<td class="py-1 align-middle" title="{{ item.dt_prazo }}">{{ item.dt_prazo|date:'d/m/Y' }}</td>
			<td class="py-1 align-middle" title="{{ item.responsavel.nome_completo }}">{{ item.responsavel.nome_completo|default_if_none:'' }}</td>
			<td class="py-1 align-middle" title="{{ item.status }}">{{ item.status|default_if_none:'' }}</td>
			<td class="py-1 align-middle justify-content-md-center">
				{% if perms.processos.change_servicos %}
					<a type="button" class="btn btn-outline-primary px-1 py-0 m-1"
						onclick="edicao('{{item.id}}')" title="Editar Serviço">
						<i class="mdi mdi-lead-pencil" style="font-size: 15px;"></i>
					</a>
				{% endif %}
				{% if perms.processos.delecao_servicos %}
					<a type="button" class="btn btn-outline-danger px-1 py-0 m-1"
						onclick="deletar('{{item.id}}')" title="Deletar Serviço">
						<i class="mdi mdi-delete" style="font-size: 15px;"></i>
					</a>
				{% endif %}
			</td>
		</th>
	{% endfor %}
{% endblock %}

{% block js %}
    <script>
		$("#listagem").DataTable({
			'language': CUSTOM_DATATABLE
		});
    </script>
	<script>
		function cadastro(){open("{% url 'cadastro_servicos' %}")};
		function edicao(id){open("{% url 'edicao_servicos' %}"+"/"+id)};
		function deletar(id){open("{% url 'delecao_servicos' %}"+"/"+id)};

	</script>
{% endblock %}
