{% extends "base/index.html" %}
{% load static %}

{% block container%}
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row" style="justify-content: center;">
                <!-- Column -->
                {% for item in request.menu %}
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <a class="card card-hover" href="{{item.url_home}}">
                        <div class="box text-center" style="background-color:{{item.color}}">
                            <h1 class="font-light text-white">
                                <i class="{{item.icon}}"></i>
                            </h1>
                            <h6 class="text-white">{{item.title}}</h6>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    <!-- ============================================================== -->
	<!-- End Container fluid  -->
	<!-- ============================================================== -->
{% endblock %}