{% extends "genericos/cadastro.html" %}
{% load static %}
{% block form %}

	<div class="form-group mt-3">
		<label>{{form.fields.nome.label}}</label>
		<input name="nome" type="text" class="form-control" maxlength={{form.fields.nome.max_length}}
			id="nome" placeholder="Digite o Nome do Cliente" required value="{{form.initial.nome}}"
		>
	</div>

	<div class="form-group mt-3">
		<label>{{form.fields.cpf.label}}</label>
		<input name='cpf' type="text" class="form-control cpf-inputmask" id="cpf" value={{form.initial.cpf}}>
	</div>

	<div class="form-group mt-3">
		<label>{{form.fields.cnpj.label}}</label>
		<input name='cnpj' type="text" class="form-control cnpj-inputmask" id="cnpj" value={{form.initial.cnpj}}>
	</div>

{% endblock %}

{% block js %}
	<script src='{% static "assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js" %}'></script>
    <script src='{% static "dist/js/pages/mask/mask.init.js" %}'></script>
{% endblock %}