{% extends "genericos/listagem_secundaria.html" %}
{% load static %}
{% block thead %}
	<tr>
		<th>Tipo de Serviço</th>
		<th>Valor</th>
		<th></th>
	</tr>
{% endblock %}

{% block tbody %}
	{% for item in form.instance.tiposervicos_set.all %}
		<tr>
			<td class="py-1 align-middle">{{ item.descricao }}</td>
			<td class="py-1 align-middle real-inputmask" title="{{ item.valor }}">{{ item.valor }}</td>
			<td class="py-1 align-middle justify-content-md-center" style="display: flex;">
				<a type="button" class="btn btn-outline-info px-1 py-0 mx-1"
					href="{% url 'edicao_tipo_servicos' item.id %}"
					data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
					<i class="mdi mdi-lead-pencil" style="font-size: 15px;"></i>
				</a>
				<form id="form-delete" class="form-delete" action="{% url 'delecao_tipo_servicos' item.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn btn-outline-danger px-1 py-0 mx-1"
						data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">
						<i class="mdi mdi-delete" style="font-size: 15px;"></i>
					</button>
				</form>
			</td>
		</th>
	{% endfor %}
{% endblock %}

{% block js %}
    <script>
		$("#listagem").DataTable({
			'language': CUSTOM_DATATABLE
		});
    </script>
{% endblock %}